.form-box{
    width: 350px;
    height: 480px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);

}
.form-box .form-item{
    margin-left: 10px;
    border: 1px solid #bdbdbd;
    margin-bottom: 10px;
    height: 40px;
    line-height: 40px;
}
.form-box .title{
    font-size: 22px;
    /*text-align: center;*/
    margin-bottom: 40px;
}